# Pandas Series and DataFrame

**Pandas** is an open source library providing data structures and data analysis tools for Python programmers.  
The pandas **Series** is a one dimensional array, similar to a Python list

In [1]:
# install pandas
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/tim/.local/lib/python3.8/site-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/tim/.local/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /home/tim/.local/lib/python3.8/site-packages (from pandas) (1.19.4)
Requirement already satisfied: six>=1.5 in /home/tim/.local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 20.3.2; however, version 20.3.3 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [2]:
# load pandas into notebook
import pandas as pd

In [3]:
airports = pd.Series([
                      'Seattle-Tacoma', 
                      'Dulles', 
                      'London Heathrow', 
                      'Schiphol', 
                      'Changi', 
                      'Pearson', 
                      'Narita'
                      ])

# When using a notebook, you can use the print statement
# print(airports) to examine the contents of a variable
# or you can print a value on the screen by just typing the object name
airports

0     Seattle-Tacoma
1             Dulles
2    London Heathrow
3           Schiphol
4             Changi
5            Pearson
6             Narita
dtype: object

In [4]:
# You can reference an individual value in a Series using it's index
airports[2]

'London Heathrow'

In [5]:
# You can use a loop to iterate through all the values in a Series
for value in airports:
    print(value)

Seattle-Tacoma
Dulles
London Heathrow
Schiphol
Changi
Pearson
Narita

## DataFrame

Most of the time when we are working with pandas we are dealing with two-dimensional arrays.  
The pandas **DataFrame** can store two dimensional arrays.

In [6]:
airports = pd.DataFrame([
                        ['Seatte-Tacoma', 'Seattle', 'USA'],
                        ['Dulles', 'Washington', 'USA'],
                        ['London Heathrow', 'London', 'United Kingdom'],
                        ['Schiphol', 'Amsterdam', 'Netherlands'],
                        ['Changi', 'Singapore', 'Singapore'],
                        ['Pearson', 'Toronto', 'Canada'],
                        ['Narita', 'Tokyo', 'Japan']
                        ])

airports

                 0           1               2
0    Seatte-Tacoma     Seattle             USA
1           Dulles  Washington             USA
2  London Heathrow      London  United Kingdom
3         Schiphol   Amsterdam     Netherlands
4           Changi   Singapore       Singapore
5          Pearson     Toronto          Canada
6           Narita       Tokyo           Japan

In [7]:
# Use the **columns** parameter to specify names for the columns when you create the DataFrame
airports = pd.DataFrame([
                        ['Seatte-Tacoma', 'Seattle', 'USA'],
                        ['Dulles', 'Washington', 'USA'],
                        ['London Heathrow', 'London', 'United Kingdom'],
                        ['Schiphol', 'Amsterdam', 'Netherlands'],
                        ['Changi', 'Singapore', 'Singapore'],
                        ['Pearson', 'Toronto', 'Canada'],
                        ['Narita', 'Tokyo', 'Japan']
                        ],
                        columns = ['Name', 'City', 'Country']
                        )

airports

              Name        City         Country
0    Seatte-Tacoma     Seattle             USA
1           Dulles  Washington             USA
2  London Heathrow      London  United Kingdom
3         Schiphol   Amsterdam     Netherlands
4           Changi   Singapore       Singapore
5          Pearson     Toronto          Canada
6           Narita       Tokyo           Japan